@model IEnumerable<Arthes.DATA.Models.Linha>

@{
    ViewData["Title"] = "Index";
}

<h1>Linha</h1>

<p>
    <a asp-action="Create">Nova Linha</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Código da Linha")
            </th>
            <th>
                @Html.Label("Nome da Cor")
            </th>
            <th>
               @Html.Label("Fabricante")
            </th>
            <th>
                @Html.Label("Tipo de Linha")
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodLinha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoLinha.Descricao)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
