@model Arthes.DATA.Models.Revista

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excluir</h1>
<br />
<h3>Está certo de excluir a Revista: <i><b>@Model.Tema</b></i> ?</h3>
<div>

    <hr />
    <dl class="row" style="font-size:large;">
        <dt class="col-sm-2">
            <i>@Html.DisplayNameFor(model => model.Tema)</i>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tema)
        </dd>
        <dt class="col-sm-2">
            <i>@Html.Label("Número")</i>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumEdicao)
        </dd>
        <dt class="col-sm-2">
            <i>@Html.Label("Mês")</i>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MesEdicao)
        </dd>
        <dt class="col-sm-2">
            <i>@Html.Label("Ano")</i>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnoEdicao)
        </dd>
    </dl>
    
    <hr />
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-trash"></i>&emsp; Excluir</button>
        <a asp-action="Index" class="btn btn-outline-dark"><i class="fa fa-home"></i>&emsp; Voltar</a>
    </form>
</div>
