@model Arthes.DATA.Models.Revista

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Revista</h4>
    <hr />
    <dl class="row" style="font-size:large;">
        <dt class = "col-sm-2">
            @Html.Label("Tema")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tema)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Número")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumEdicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Mês")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MesEdicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Ano")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoEdicao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id"><i class="fa fa-edit"></i>&emsp; Editar</a> &nbsp;
    <a asp-action="Index" class="btn btn-outline-dark" asp-route-id="@Model?.Id"><i class="fa fa-home"></i>&emsp; Voltar</a>

</div>
