@model IEnumerable<Arthes.DATA.Models.Revista>

<p>
    <h3>Revistas</h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesEdicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoEdicao)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesEdicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoEdicao)
            </td>
        </tr>
}
    </tbody>
</table>
