@model IEnumerable<Arthes.DATA.Models.Receita>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Receita</h1>

<p>
    <a asp-action="Create">Nova Receita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Nome")
            </th>
            <th>
                @Html.Label("Altura")
            </th>
            <th>
                @Html.Label("Nivel de Dificuldade")
            </th>
            <th>
               @Html.Label("Tema")
            </th>
            <th>
                @Html.Label("Mês Edição")
            </th>
            <th>
                @Html.Label("Ano Edição")
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Altura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelDificuldade)
                </td>
                <td>
                    @Html.ActionLink(@item.IdRevistaNavigation.Tema,"Details","Revista", new { id= @item.Id} )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRevistaNavigation.MesEdicao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRevistaNavigation.AnoEdicao)
                </td>
                <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
