@model IEnumerable<Arthes.DATA.Models.TipoLinha>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipo de Linha</h1>

<p>
    <a asp-action="Create">Novo Tipo de Linha</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Descrição")
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width: 85%">
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
