@model Arthes.DATA.Models.Revista

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Revista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumEdicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumEdicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MesEdicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MesEdicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoEdicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoEdicao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
